<%- include includes/header %>
<div class="content-wrapper">
   <!-- Content Header (Page header) -->
   <section class="content-header">
      <h1> Create Navigation</h1>
      <ol class="breadcrumb">
          <li><a href="#"><i class="fa fa-dashboard"></i> Dashboard</a></li>
          <li><a href="#"> All Navigation </a></li>
          <li class="active">Create Navigation</li>
      </ol>
  </section>

  <!-- Main content -->
  <section class="content">
      <!-- Small boxes (Stat box) -->
      <div class="row wrapper-form-navigation">
          <div class="col-md-12">
            <div class="box">
              <!-- /.box-header -->
              <div class="box-body">
                  <p class="alert alert-block alert-danger message_box hide alert-dismissible"></p>
                  <form class="form-horizontal" id="create-form" enctype="multipart/form-data">
                   
                    <div class="form-group">
                      <label for="name" class="col-sm-2 control-label">Name <i class="has-error">*</i></label>
                      <div class="col-sm-6">
                        <input type="text" class="form-control" name="name" placeholder="Name" value="">
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="en_name" class="col-sm-2 control-label">Name Arabic <i class="has-error">*</i></label>
                      <div class="col-sm-6">
                        <input type="text" class="form-control" name="en_name" placeholder="Name Arabic" value="">
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="action_path" class="col-sm-2 control-label">Action Path <i class="has-error">*</i></label>
                      <div class="col-sm-6">
                        <input type="text" class="form-control" name="action_path" placeholder="Action Path" value="">
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="icon" class="col-sm-2 control-label">Icon</label>
                      <div class="col-sm-6">
                        <input type="text" class="form-control" name="icon" placeholder="Icon" value="">
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="display_order" class="col-sm-2 control-label">Display Order <i class="has-error">*</i></label>
                      <div class="col-sm-6">
                        <input type="text" class="form-control" name="display_order" placeholder="Display Order" value="">
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="parent_id" class="col-sm-2 control-label">Parent ID <i class="has-error">*</i></label>

                      <div class="col-sm-6">
                          <select class="form-control" name="parent_id">
                            <option value="0">No Parent</option>
                          </select>
                      </div>
                    </div>
                    
                    <div class="form-group">
                      <label for="show_in_menu" class="col-sm-2 control-label">Show in Menu <i class="has-error">*</i></label>
                      <div class="col-sm-6">
                          <select class="form-control" name="show_in_menu">
                              <option value="1">Yes</option>
                              <option value="0">No</option>
                          </select>
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="show_in_permission" class="col-sm-2 control-label">Show In Permission <i class="has-error">*</i></label>
                      <div class="col-sm-6">
                          <select class="form-control" name="show_in_permission">
                              <option value="1">Yes</option>
                              <option value="0">No</option>
                          </select>
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="child_permission" class="col-sm-2 control-label">Child Permission<i class="has-error">*</i></label>
                      <div class="col-sm-6">
                          <select class="form-control" name="child_permission">
                              <option value="1">Yes</option>
                              <option value="0">No</option>
                          </select>
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="status" class="col-sm-2 control-label">Status <i class="has-error">*</i></label>
                      <div class="col-sm-6">
                          <select class="form-control" name="status">
                              <option value="1">Active</option>
                              <option value="0">Inactive</option>
                          </select>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="col-sm-offset-2 col-sm-6">
                        <button type="button" class="btn btn-success" id="createBtn">Create</button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
          </div>
      </div>
  </section>
</div>
<script type="text/javascript">
  jQuery(function($) {
     $('.wrapper-form-navigation').on('click','#createBtn',function(e){
          e.preventDefault();
          $.ajax({
              url: "<%- pathHelper.baseUrl('admin/navigation/create') %>",
              type: 'POST',
              data: new FormData($('#create-form')[0]),//trying to get this in controller
              processData: false,
              contentType: false,
              dataType: 'json',
              beforeSend: function()
              {
                  $('#createBtn').attr('disabled',true);
                  $('.message_box').html('').removeClass('alert-success').addClass('hide alert-danger');
              },
              error: function(jqXHR, exception){
                  $('#createBtn').attr('disabled',false);
                  var msg = formatErrorMessage(jqXHR, exception);
                  $('.message_box').html(msg).removeClass('hide');
              },
              success: function (response)
              {
                  console.log(response);
                  $('#createBtn').attr('disabled',false);
                  $('.message_box').html(response.message).removeClass('hide alert-danger').addClass('alert-success');
              }
          });
      });
  });
</script>
<%- include includes/footer %>
