<% if(infoClass == "error") { %>
<div class="alert alert-danger alert-dismissible">
  <button type="button" class="close" data-dismiss="alert">
    <i class="ace-icon fa fa-times"></i>
  </button>
  <%- infoMessage %>
</div>
<% } if(infoClass == "success") { %>
<div class="alert alert-success alert-dismissible">
  <button type="button" class="close" data-dismiss="alert">
    <i class="ace-icon fa fa-times"></i>
  </button>
  <i class="ace-icon fa fa-check green"></i>
  <%- infoMessage %>
</div>
<% } %>

